.footer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: var(--subtitle-color);
}

@media (max-width: 960px) {
  .footer {
    flex-direction: column-reverse;
    gap: 16px;
  }
}
