.header {
  justify-content: space-between;
  width: 100svw;
  font-size: 0.8rem;
}

.logo p {
  font-weight: 600;
  margin-bottom: 0;
}

.bubble {
  font-size: 0.6rem;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  border: 1px dashed var(--color-secondary);
}

.header,
.brand,
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.brand *,
.brand *:hover {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .header {
    justify-content: center;
  }
}
