.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.tech {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-tertiary);
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
  color: var(--color-tertiary);
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-tertiary);
}

.card {
  justify-content: space-between;
  backdrop-filter: blur(5px);
}

.card,
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.8rem;
  gap: 1rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255, 0.6);
  color: var(--color-secondary);
  border: none;
  transition: 0.3s;
}

.card,
.thumbnail,
.button {
  border-radius: 0.4rem;
}

.card:hover,
.button:hover {
  transform: translate(0, -6px);
}

@media only screen and (max-width: 480px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 481px) {
  .thumbnail {
    width: 256px;
  }
}
