.grid {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card,
.button {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  color: var(--color-secondary);
  border: none;
  background-color: var(--color-primary);
}

.card .title {
  flex-grow: 1;
}

.card,
.card:hover {
  text-decoration: none;
}

.card:hover .title,
.button:hover {
  text-decoration: underline;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--color-tertiary);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-tertiary);
}

@media only screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
