.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.copyright,
.disclaimer {
  font-size: 0.6rem;
}

.link {
  color: var(--color-primary);
}

@media (max-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
