.main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 100svh;
  width: 100svw;
  background-image: url("/assets/images/background/hero.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px -200px 80px -60px rgba(0, 0, 0, 0.9);
  color: var(--color-primary);
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.city {
  font-weight: medium;
}

.arrow {
  animation: slide 1s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@media only screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
  .arrow {
    order: 3;
  }
}
