.ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.ul *,
.ul *:hover {
  text-decoration: none;
}

.link {
  color: var(--color-primary);
  border-bottom: 2px solid transparent;
  padding: 0.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.link:hover {
  border-bottom: 2px solid var(--color-primary);
}

.cta {
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  padding: 0.8rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link,
.cta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: medium;
}

@media only screen and (max-width: 480px) {
  .ul {
    display: none;
  }
}
