.ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.polaroid {
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  background-color: var(--color-primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: 60ms linear all;
}

.polaroid:hover {
  transform: rotate(10deg);
}
