---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

import { getReposByTopic } from "../lib/repos.js";

const apps = await getReposByTopic("app");
const sites = await getReposByTopic("site");
const bots = await getReposByTopic("bot");
const misc = await getReposByTopic("misc");
---

<Layout title="Amanda Martins Xavier - Projects">
  <Header />
  <section>
    <h3>Apps:</h3>
    <Card data={apps} />
  </section>
  <section>
    <h3>Sites:</h3>
    <Card data={sites} />
  </section>
  <section>
    <h3>Bots:</h3>
    <Card data={bots} />
  </section>
  <section>
    <h3>Misc.:</h3>
    <Card data={misc} />
  </section>
  <Footer />
</Layout>
