---
export interface Props {
  data: {
    url: string;
    title: string;
    description: string;
  }[];
}

const { data } = Astro.props;
---

<ul role="list" class="link-card-grid">
  {
    data.map((item) => (
      <li class="link-card">
        <a href={item.url} target="_blank">
          <div>
            <h2>{item.title}</h2>
            <p>{item.description}</p>  
          </div>
          <p class="check-out">Check out <span class="fa-solid fa-arrow-up-right-from-square" /></p>
        </a>
      </li>
    ))
  }
</ul>

<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1rem;
    background-color: var(--primary);
    border: 2px dashed var(--accent);
    border-radius: 0.6rem;
    background-position: 100%;
    transition: 0.3s;
  }
  .link-card:hover {
    opacity: 0.6;
  }
  h2,
  p,
  a {
    text-decoration: none;
  }
  a {
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  a:hover .check-out {
    border-bottom: 2px dashed var(--accent);
  }
  h2 {
    color: var(--accent);
    margin: 0;
    font-size: 1.1rem;
  }
  p {
    margin-top: 0.5rem;
  }
  .check-out {
    display: flex;
    align-items: center; 
    padding-bottom: .5rem;
    margin-bottom: 0;
    border-bottom: 2px dashed transparent;
  }
  .check-out span {
    padding: 0 .8rem;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
