<ul>
  <li>
    <a
      class="fa-solid fa-envelope"
      href="mailto:hi@amandamartins.dev"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-discord"
      href="https://discord.com/invite/TgGAXqH6Zf"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-linkedin"
      href="https://linkedin.com/in/pixelmandy"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-instagram"
      href="https://instagram.com/pixelmandy_"
      target="_blank"></a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  ul a {
    text-decoration: none;
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 100%;
    color: var(--primary);
    transition: 0.3s;
  }
  ul a:hover {
    background-color: var(--accent);
    color: var(--secondary);
  }
</style>
