<section id="contact">
  <h4>✉️ Contact:</h4>
  <p><strong>Want to chat or hire me?</strong></p>
  <a
    href="mailto:hi@amandamartins.dev"
    target="_blank"
    rel="noopener noreferrer">Send an email</a
  >
  <p>hi@amandamartins.dev</p>
</section>

<style>
  section {
    margin: 3rem 0;
    text-align: center;
  }
  h4 {
    margin: 2rem 0;
    color: #f8f8f2;
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    color: white;
    margin: 2rem;
  }
  a {
    background-color: rgba(var(--accent));
    transition: 0.3s;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 0.35rem;
    color: #f8f8f2;
    font-weight: bold;
  }

  a:is(:hover, :focus-within) {
    color: rgba(var(--accent));
    background-color: white;
  }
</style>
