<ul>
  <li class="highlight"><i class="fa-brands fa-python"></i> Django</li>
  <li class="highlight"><i class="fa-brands fa-python"></i> Flask</li>
  <li class="highlight"><i class="fa-brands fa-python"></i> FastAPI</li>
  <li class="highlight"><i class="fa-solid fa-book"></i> Mkdocs</li>
  <li class="highlight"><i class="fa-solid fa-gem"></i> Rails</li>
  <li class="highlight"><i class="fa-solid fa-cloud"></i> dotNET</li>
  <li class="highlight"><i class="fa-brands fa-java"></i> Spring</li>
  <li class="highlight"><i class="fa-brands fa-js"></i> Nuxt</li>
  <li class="highlight"><i class="fa-brands fa-vuejs"></i> Vue</li>
  <li class="highlight"><i class="fa-brands fa-js"></i> Svelte</li>
  <li class="highlight"><i class="fa-brands fa-js"></i> Astro</li>
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  ul li {
    text-decoration: none;
    color: #f8f8f2;
    margin: 0.5rem 0.5rem 0 0;
  }
  .highlight {
    font-size: 1rem;
    font-weight: bold;
    background: rgba(var(--accent), 24%);
    color: rgb(var(282a36--accent));
    border-radius: 4px;
    padding: 0.3rem 0.8rem;
  }
</style>
