<header>
  <button id="toggle"><i id="icon" class="fa-solid fa-bars"></i></button>
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/articles">Articles</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</header>

<script>
  const button = document.getElementById("toggle");
  const icon = document.getElementById("icon");
  const menu = document.getElementById("menu");

  button.addEventListener('click', () => {
    if (menu.style.display === "block") {
      icon.classList.remove("fa-xmark");
      icon.classList.add("fa-bars");
      menu.style.display = "none";
    } else {
      icon.classList.remove("fa-bars");
      icon.classList.add("fa-xmark");
      menu.style.display = "block";
    }
  });
</script>

<style>
  header {
    margin: 1rem;
    text-align: center;
  }
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  #menu li {
    margin: 0.5rem;
    list-style: none;
  }
  #menu li a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
  }
  #menu li a:hover {
    border-bottom: 2px dashed var(--accent);
  }
  #toggle {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    #toggle {
      display: flex;
      background-color: transparent;
      border: none;
      color: var(--secondary);
      font-size: 2rem;
      padding: 1rem;
    }
    #menu {
      display: none;
      transition: all .5s ease; 
    }
    #menu li {
      padding: 1rem;
      border-radius: 20px;
      border: 2px dashed var(--accent);
    }
</style>