<ul>
  <li class="highlight"><i class="fa-brands fa-python"></i> Python</li>
  <li class="highlight"><i class="fa-solid fa-gem"></i> Ruby</li>
  <li class="highlight"><i class="fa-brands fa-square-js"></i> JavaScript</li>
  <li class="highlight"><i class="fa-solid fa-code"></i> TypeScript</li>
  <li class="highlight"><i class="fa-brands fa-html5"></i> HTML5</li>
  <li class="highlight"><i class="fa-brands fa-css3"></i> CSS3</li>
  <li class="highlight"><i class="fa-brands fa-java"></i> Java</li>
  <li class="highlight"><i class="fa-solid fa-code"></i> C#</li>
  <li class="highlight"><i class="fa-solid fa-code"></i> C</li>
  <li class="highlight"><i class="fa-solid fa-robot"></i> GDScript</li>
  <li class="highlight"><i class="fa-brands fa-php"></i> PHP</li>
  <li class="highlight"><i class="fa-solid fa-code"></i> VB</li>
  <li class="highlight"><i class="fa-solid fa-code"></i> Pascal</li>
  <li class="highlight"><i class="fa-solid fa-code"></i> Delphi</li>
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  ul li {
    text-decoration: none;
    color: #f8f8f2;
    margin: 0.5rem 0.5rem 0 0;
  }
  .highlight {
    font-size: 1rem;
    font-weight: bold;
    background: rgba(var(--accent), 24%);
    color: rgb(var(282a36--accent));
    border-radius: 4px;
    padding: 0.3rem 0.8rem;
  }
</style>
