<ul>
  <li>
    <a
      class="fa-brands fa-linkedin"
      href="https://linkedin.com/in/pixelmandy"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-github"
      href="https://github.com/pixelmandy"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-itch-io"
      href="https://pixelmandy.itch.io"
      target="_blank"></a>
  </li>
  <li>
    <a
      rel="me"
      class="fa-brands fa-mastodon"
      href="https://bolha.us/@amandamartinsdev"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-discord"
      href="https://discord.com/invite/TgGAXqH6Zf"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-instagram"
      href="https://instagram.com/pixelmandy_"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-tiktok"
      href="https://tiktok.com/@pixelmandy"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-twitch"
      href="https://twitch.tv/pixelmandy"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-youtube"
      href="https://youtube.com/@pixelmandy"
      target="_blank"></a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  ul a {
    text-decoration: none;
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--secondary);
    padding: .6rem;
    border-radius: 100%;
    color: var(--primary);
    transition: 0.3s;
  }
  ul a:hover {
    background-color: var(--accent);
    color: var(--secondary);
  }
</style>
