<ul>
  <li>
    <a
      class="fa-brands fa-linkedin"
      href="https://linkedin.com/in/amandamartinsdev"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-github-alt"
      href="https://github.com/amandamartinsdev"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-itch-io"
      href="https://amandamartins.itch.io"
      target="_blank"></a>
  </li>
  <li>
    <a
      rel="me"
      class="fa-brands fa-mastodon"
      href="https://bolha.us/@amandamartinsdev"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-twitch"
      href="https://twitch.tv/amandamartinsdev"
      target="_blank"></a>
  </li>
  <li>
    <a
      class="fa-brands fa-youtube"
      href="https://youtube.com/@mandys_"
      target="_blank"></a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  ul a {
    text-decoration: none;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: #f8f8f2;
    transition: 0.3s;
  }
  ul a:is(:hover, :focus-within) {
    color: rgb(var(--accent));
  }
</style>
