<ul>
  <li class="highlight"><i class="fa-brands fa-aws"></i> AWS</li>
  <li class="highlight"><i class="fa-solid fa-cloud"></i> Azure</li>
  <li class="highlight"><i class="fa-solid fa-cloud"></i> IBM Cloud</li>
  <li class="highlight"><i class="fa-brands fa-linode"></i> Linode</li>
  <li class="highlight"><i class="fa-solid fa-cloud"></i> Vercel</li>
  <li class="highlight"><i class="fa-brands fa-github"></i> GitHub</li>
  <li class="highlight"><i class="fa-brands fa-github"></i> GitHub Actions</li>
  <li class="highlight"><i class="fa-brands fa-github"></i> GitHub Pages</li>
  <li class="highlight"><i class="fa-brands fa-docker"></i> Docker</li>
  <li class="highlight"><i class="fa-solid fa-database"></i> Postgresql</li>
  <li class="highlight"><i class="fa-solid fa-database"></i> MySQL</li>
  <li class="highlight"><i class="fa-solid fa-database"></i> SQL Server</li>
  <li class="highlight"><i class="fa-solid fa-robot"></i> Godot</li>
  <li class="highlight"><i class="fa-brands fa-unity"></i> Unity</li>
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  ul li {
    text-decoration: none;
    color: #f8f8f2;
    margin: 0.5rem 0.5rem 0 0;
  }
  .highlight {
    font-size: 1rem;
    font-weight: bold;
    background: rgba(var(--accent), 24%);
    color: rgb(var(282a36--accent));
    border-radius: 4px;
    padding: 0.3rem 0.8rem;
  }
</style>
